<% content_for :page_title do %>
  <%= Spree.t(:social_products) %>
<% end %>

<% content_for :page_actions do %>
  <li><%= link_to_with_icon 'icon-arrow-left', Spree.t(:back_to_reports_list), spree.admin_reports_url, :class => 'button' %></li>
<% end %>

<table class="admin-report tablesorter" data-hook="social_products" id="social_products_table" >
  <thead>
    <tr>
      <th><%= Spree.t(:product_image) %></th>
      <th><%= Spree.t(:product_name) %></th>
      <th><%= Spree.t(:facebook_totals) %></th>
      <th><%= Spree.t(:product_url_https) %></th>
      <th><%= Spree.t(:facebook_actions_https) %></th>
      <th><%= Spree.t(:product_url_http) %></th>
      <th><%= Spree.t(:facebook_actions_http) %></th>
      <th><%= Spree.t(:twitter_shares) %></th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr class="align-center">
        <% @url_https = product_url(product, :taxon_id => @taxon.try(:id))
              @url = @url_https.sub(/https:/, "http:")
              @fb_https = product.facebook(@url_https) 
              @fb = product.facebook(@url) %>
        <td ><div class="product-image">
          <%= link_to small_image(product, :itemprop => "image"), @url, :itemprop => 'url' %>
        </div></td>
        <td ><%= link_to product.try(:name), edit_admin_product_path(product) %></td>
        <td><%=product.facebook_shares(@url) %></td>
        <td><a href="<%= @url_https %>"><%= @url_https %></a></td>
        <td>
          <% unless @fb_https.nil? %>
          total: <%= @fb_https['total_count'] %><br />
          likes: <%= @fb_https['like_count'] %><br />
          shares: <%= @fb_https['share_count'] %><br />
          clicks: <%= @fb_https['click_count'] %><br />
          comments: <%= @fb_https['comment_count'] %>
          <% end %>
        </td>
        <td><a href="<%= @url %>"><%= @url %></a></td>
        <td>
          <% unless @fb.nil? %>
          total: <%= @fb['total_count'] %><br />
          likes: <%= @fb['like_count'] %><br />
          shares: <%= @fb['share_count'] %><br />
          clicks: <%= @fb['click_count'] %><br />
          comments: <%= @fb['comment_count'] %>
          <% end %>
        </td>
        <td><%=product.twitter_shares(@url_https) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= javascript_tag do -%>
    $(document).ready(function() 
        { 
            $("#social_products_table").tablesorter( {sortList: [[2,1],[1,0]]} ); 
        } 
    );
<% end -%>
