<% unless Spree::Social::Config.preferred_facebook_app_id.nil? %>
  <% content_for :head do %>
    <meta property="og:title" content="<%= @product.name %>" />
    <meta property="og:site_name" content="product" />
    <meta property="og:type" content="product" />
    <meta property="og:url" content="<%= spree.product_url(@product, host: Spree::Store.where(code: 'spree').first.url) %>" />
    <meta property="og:description" content="<%= @product.description %>" />
    <% @product.images.each do |img| %>
      <meta property="og:image" content="<%= absolute_image_url(img.attachment.url(:small)) %>" />
    <% end  %>
    <% if @product.has_variants? %>
      <% @product.variant_images.each do |img| %>
        <meta property="og:image" content="<%= absolute_image_url(img.attachment.url(:small))  %>" />
      <% end  %>
    <% end  %>
    <meta property="fb:app_id" content="<%= Spree::Config.facebook_app_id %>" />
  <% end %>
  
  <p>
  <div id="fb-root"></div>
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : "<%= Spree::Social::Config.facebook_app_id %>", // App ID
        status     : true, // check login status
        cookie     : true, // enable cookies to allow the server to access the session
        xfbml      : true  // parse XFBML
      });

      // Additional initialization code here
    };

    // Load the SDK Asynchronously
    ((function(d, s, id) {
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) return;
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/<%= I18n.locale %>/sdk.js#xfbml=1&appId=<%= Spree::Social::Config.facebook_app_id %>&version=v2.0";
       fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
  </script>

  <div class="fb-like" data-href="<%= spree.product_url(@product) %>" data-layout="<%= Spree::Social::Config.facebook_layout %>" data-action="<%= Spree::Social::Config.facebook_verb_to_display %>" data-show-faces="<%= Spree::Social::Config.facebook_show_faces %>" data-share="<%= Spree::Config.facebook_share %>" ></div>
  </p>
  <% unless Spree::Social::Config.facebook_send_button.nil? %>
    <div class="fb-send" data-href="<%= spree.product_url(@product) %>" data-colorscheme="<%= Spree::Social::Config.facebook_color_scheme %>"></div>
  <% end %>
<% end %>



